.main-p {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;

  background-image: url("../../assets/pics/Backgammon.jpg");
  background-size: cover;

  &__c1 {
    display: flex;
    gap: 11.5rem;

    // margin-top: 3rem;
  }

  &__c1-1 {
    display: flex;
    flex-direction: column;

    margin-right: 11.5rem;
  }

  &__overall-score {
    margin-top: 6rem;
  }

  // &__board {
  // }
}
