.overall-score-c {
  width: 30rem;
  height: 18rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: 1.4rem;

  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.1)
  );

  color: #eaeaea;

  backdrop-filter: blur(1rem);

  border-radius: 8px;

  &::before {
    content: "";

    width: 30rem;
    height: 18rem;

    position: absolute;
    z-index: 2;

    border-radius: 8px;
    border: 2px solid rgba(255, 255, 255, 0.2);
  }

  & > * {
    margin-top: 2rem;
  }

  &__title {
    font-size: 1.8rem;
  }

  &__c1 {
    display: flex;
    align-items: center;
    gap: 3rem;
  }

  &__c1-1,
  &__c1-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }

  &__user-score {
    position: relative;

    color: #9fe6a0;

    &::before {
      content: "";

      width: 3rem;
      height: 3rem;

      position: absolute;
      top: -6px;
      right: -7px;

      border: 2px solid #9fe6a0;
      border-radius: 50%;
    }
  }

  &__opponent-score {
    position: relative;

    color: #f96666;

    &::before {
      content: "";

      width: 3rem;
      height: 3rem;

      position: absolute;
      top: -7px;
      right: -10px;

      border: 2px solid #f96666;
      border-radius: 50%;
    }
  }
}
